body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: rgb(253, 189, 164);
    font-weight: bold;
    text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-gap: 1rem;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;
    margin: 0px;
}

article p {
	text-align: justify;
    padding: 0px 1rem;
}

.callout {
	color: white;
	background-color: #7a1165;
    padding: 0px 1rem;
    grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}