@media screen and (min-width: 650px) {
    nav ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        
    }
    #menu {
        display: none;
    }
    .cards {
        width: 100%;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        padding: 10px;
    }
    #store .cards p {
        grid-column: 1 / -1;
    }
    section {
        height: 350px;
    }
    section div {
        height: 260px; 
        overflow-y: auto;
    }
    header img {
        display: block;
        width: 50px;
        align-self: center;
        border: outset saddlebrown 2px;
        border-radius: 5px;
    }
    #mini-img1 {
        justify-self: end;
        grid-column: 1/2;
    }
    #mini-img2 {
        justify-self: start;
        grid-column: 3/4;

    }
    header span {
        grid-column: 2/3;

    }
    header div {
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
    }

}