@font-face {
    font-family: "Quicksand";
    src: url('https://origamijellybean.github.io/wdd131/project/styles/quicksand.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    
}
@font-face {
    font-family: "Chakra Petch";
    src: url('https://origamijellybean.github.io/wdd131/project/styles/chakrapetch-italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}

header nav, h2, section a, section p, footer p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-variation-settings: "GRAD" 0;
}

#menu {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    background: #303030;
    border-color: darkgreen;
}
#menu::before {
	content: "☰";
    /* content: "▼"; */
}

#menu.visible::before {
	/* content: "X"; */
    content:"▲";
}

header {
    color: white;
    background-color: darkgreen;
    border-bottom: 5px outset saddlebrown;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;
    height: 100%;
}
header div{
    border-bottom: outset saddlebrown 1px;
}
header span {
    padding: 10px 50px;
    display: block;
    background-color: darkgreen;
    color: white;
    text-align: center;
    align-content: center;
    height: min-content;
    font-size: 30px;
    font-family: "Chakra Petch";
    font-style: italic;
} 

nav ul.visible {
    padding: 10px 0 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    margin: 0px;
    
}
nav ul {
    display: none;
    padding: 0px;
}
nav li {
    padding: 2px;
    display: block;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 3px;
}
nav a:hover {
    color: darkgreen;
    border: 2px dashed orange;
    background-color: white;
    color: darkgreen;
}

main h1 {
    border: 2px outset saddlebrown;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    font-family: "Times New Roman", serif;
    font-weight: 500;
    background-color: darkgreen;
    color: white;
}
main p {
    margin: 0px;
    padding-top: 25px;
}
h2 {
    text-align: center;
    font-size: 20px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    border-radius: 5px 5px 0 0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

header img {
    display: none;
}
main {
    max-width: 1250px;
    /*the max width still applies with the 100% width. the 100% width shrinks to width on smaller screens*/
    width: 100%;
    /*evens the margins on either side*/
    margin-inline: auto;
    place-items: center;
    grid-gap: 15px;
    padding: 15px 0px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}
section {
    border: 5px outset saddlebrown;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    position: relative;
}
section button {
    position: absolute;
    font-size: 20px;
    left: 11px;
    top: 11px;
    background-color: #303030;
    color: white;
    border-color: darkgreen;
}
#history::before, #paper::before, #styles::before, #designs::before {
    content: ">";
}
#history.visible::before, #paper.visible::before, #styles.visible::before, #designs.visible::before {
    content: "v";
}

.history figure, .paper figure, .styles figure, .designs figure {
    display: flex;
}
.history p, .paper p, .styles p, .designs p {
    display: none;
}

.history.visible figure, .paper.visible figure, .styles.visible figure, .designs.visible figure {
    display: none;
}
.history.visible p, .paper.visible p, .styles.visible p, .designs.visible p {
    display: flex;
    padding: 15px;
}

.paper a, .designs a {
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    position: absolute;
}
.paper.visible a, .designs.visible a {
    position: static;
    display: block;
    justify-self: center;
    transform: translate(0);
    margin: 10px;
}


figure {
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 2/1;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}
main section a {
    background: darkgreen;
    color: white;
    border: 2px outset saddlebrown;
    width: max-content;
    padding: 5px 10px;
}
img {
    max-width: 100%;
    height: auto;
}

main a:link {
    color: white;
    text-decoration: none;
}

main a:hover {
    border: 2px dashed orange;
    background-color: white;
    color: darkgreen;
}
footer {
    background-color: darkgreen;
    border-top: 6px outset saddlebrown;
    color: white;
    display: block;
    text-align: center;
    height: 110px;
}

.citations-page a {
    font-size: 14px;
    margin: 20px 0px 10px 0px;
    padding: 5px;
    border: outset saddlebrown 1px;
    background-color: darkgreen;
    color: white;
}
.citations-page a:link {
    color: white;
    text-decoration: none;
}

.citations-page a:hover {
    border: dashed orange 1px;
    color: darkgreen;
    background-color: white;
}

#currentyear {
    margin-bottom: 5px;
    margin-top: 5px;
}
#lastModified {
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 5px;
}