h1 {
    text-align: center;
}
main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: black;
    animation: fade 5s;
}
p {
    font-size: 3rem;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}