* {
   margin : 0; 
}
h1 {
    background-color: darkgray;
    color: white;
}
ul {
    background-color: black;
    list-style: none;
    display: block;
}
li {
    background-color: black;
}
li a {
    color: white;
    text-decoration: none;
}
main {
    background-color: gray;
    color: black;
}
aside {
    background-color: white;
    color: black;
}
footer {
    background-color: darkgray;
    color: white;
}

