* {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
header {
    color: lightgray;
    background-color: black;
}
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

#course-title {
    padding: 10px 0 10px 0;
    display: block;
    background-color: darkgreen;
    color: lightgray;
    text-align: center;
    align-content: center;
    height: 50px;
    font-size: 25px;
} 

nav {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #303030;
    color: lightgray;
}

nav a {
    color: lightgray;
    text-decoration: none;
}
nav a:hover {
    color: orange;
    text-decoration: underline overline;
    text-decoration-color: green;
    text-underline-offset: 5px;
}

h1 {
    text-align: center;
}
h2 {
    font-size: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    border-radius: 5px 5px 0 0;
    margin-top: 0px;
    color: lightgray;
}
main {
    max-width: 1500px;
    justify-self: center;
}
#main{
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: auto;
    box-sizing: border-box;
    padding: 15px;
    gap: 10px;
    
}
.card {
    border:4px outset #303030;
    border-radius: 10px;
}
#card1 {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 200px;
}
#card1 h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 0px;
}

#bio {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
}

#profile {
    grid-column: 2/3;
    grid-row: 2/5;
    width: 150px;
    height: auto;
    justify-self: right;
    padding-right: 20px;
    padding-top: 20px;
}

#willard {
    grid-row: 4/5;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    padding: 0px;
}
#willardimage {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 25px;
}
#willardimage img {
    width: 100%;
    height: min-content;
    justify-self: center;
}
#willardimagedescription {
    font-size: 15px;
    font-style: italic;
    margin-top: 2px;
    text-align: center;
}
#willarddescription {
    grid-column: 2/3;
    font-size: 18px;
}

#card1 h3 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline overline darkorange 2px;
    text-underline-offset: 5px;
}

#card2 {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
}
#card2 ul {
    padding-left: 35px;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#card2 li {
    padding: 0px;
    flex: 1;
}
#card2 a {
    text-decoration: underline 1px darkgreen;
    color: black;
}
footer {
    background-color: darkgreen;
    color: lightgray;
    display: block;
    text-align: center;
    height: 75px;
}
#currentyear {
    margin-bottom: 5px;
}
#lastModified {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
}