@media screen and (min-width: 700px) {
    main {
        position: relative;
        font-size: 13px;
    }
    main section {
        position: absolute;
        width: 300px;
        opacity: 85%;
    }
    #data {
        top: 1rem;
        left: 1rem;
    }
    #weather {
        bottom: 1rem;
        right: 1rem;
    }
    #weather h2::after {
        content:" ⛅";
    }
    section span {
        display: none;
    }
    .list {
        padding-left: 0px;
    }
    .list li {
        grid-template-columns: 1fr 1fr;
    }
}