table {
    width: 500px;
    font-size: 24px;
    background-color: white;
    border-collapse: collapse;
}
thead {
    background-color: black;
    color: white;
}
th[scope="col"] {
    background-color: rgb(78, 78, 78);
}
th, tr, td {
    padding: 5px;
    text-align: center;
}

tbody tr, tbody td {
    border: 1px solid darkgray;
}
tbody tr:nth-child(even) {
    background-color: lightgray;
}
caption {
    caption-side: bottom;
    font-size: 16px;
}