
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px outset darkturquoise;
    padding: 10px;
    background: linear-gradient(to right, rgb(128, 224, 208)), rgb(192, 224, 208);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
main section {
    padding: 3px 10px;
    background: rgb(239, 255, 255);
    border: 1px outset darkturquoise;
}