@media screen and (min-width: 500px) {
    header {
        background: black;
        color: white;
        border: lightgray;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main section {
        background-color: white;
    }
}